<header class="mat-elevation-z4">
  <h1>RxPuzzle</h1>
  <p>A Puzzle game to help learn ReactiveX</p>
  <a mat-raised-button routerLink="/guide">Get Started</a>
</header>

<div class="features">
  <section>
    <h3>Mobile First</h3>
    <p>With a mobile device, you can easily play anywhere.</p>
  </section>
  <section>
    <h3>No Typing</h3>
    <p>
      It's a game for programmers who learn ReactiveX, but there's no need to
      type the code. You can do everything with just drag and click.
    </p>
  </section>
  <section>
    <h3>Make & Share</h3>
    <p>
      You can make your own stage and share it with each other via the exported
      URL.
    </p>
  </section>
</div>

<footer class="mat-elevation-z4"></footer>
