<mat-toolbar color="primary" class="mat-elevation-z4">
  <p>Stages</p>
</mat-toolbar>
<div class="container">
  <div class="stages">
    <!-- [  1] throttleTime(1t), bufferTime(2t) -->
    <a
      data-src="eNrdkUFPg0AQhf_LnDEB2SByI9tiSkOi0ECq6WGLYyWBXVy2xobw311s0TRtNcZL423nvdk3yftaELUqBG_Aa6Ficllic4sywZc18hzBs4ix08dVoVTBVxOuUL6yErxL0-zNt4nCioo1V3pdKyvBymgbBd5DC80zq3USgAG5KIXsn53xpeeFzEs85Z7Dr7PWF50BhSawLVttPjaaAaD2HvVsWoFLprO7EQkJmZM0iKl5H8Wxb8PAdx_W90UduP3ZC_aLqo8nLP-ckP8LoJ8clWS8eRKyQnmI0qK2mzjpzPVH9s04c_WGqFEyJeQUN8ONn5LSa8e5CpOURuHcTLKMun5wJGnRvQOXh0iS"
    ></a>
    <!-- [  2] combineLatest(a$, b$), takeUntil(b$) -->
    <a
      data-src="eNrVk1tvgjAYhv9Lr1nC-XQ3EdEZiVKCh8WLyjpHApSVuswQ_7slzmRmzjgzZbtr3_fr1-Z7-laAFCwheQnsCmSILlJcDjGF-HWF8xgDW1KFD93NEsaSfNnLGaZvKAW2LIq1-d5jOHPIKme8nCtLgtLBrhWwHytQvqCCdwJAADFJCa2XG-H39TihcYo_uWxd4Dt02dkzOsc_rrn2BA70-UYACSezg1C_hsvlHiz3nvhelDqmHhquPIOwNdPhbCBHlmdYUxHsuR9CPD2oy8Z7e6D_7NS8dk4T7KtdqMltWXGiqdl2okAyviF48xheIdQNxuocRoyivHwmNMP0a9BEP3QHYxF64wfNUEc-ryAFpogR2sfr_R2naYfmxFcty1QcOepKlqQbbkO0m9KP_4vFX-EcBF1_OIHKuKN6rUhzRvr9Ec7zzRaLoEcU"
    ></a>
    <!-- [  3] mergeMap(a => b$.map(b => a + b)), distinctUntilKeyChanged('color') -->
    <a
      data-src="eNrVk1FvgjAUhf_LfWYJDBDlTQwEMZCJRAKLD5V1jgRaVuoyQ_jvq3FkMzNRsrnEt_bc03Nv-rUN0IrnlNRgNlAiti5w_YDZAr9uMckwmIomfep2mXOek82UcMzeUAHmvSzvi-9TjssJ3RIu7ELZUFT4hygwHxuoX1AlkgAkyGhB2X7ZSl96lrOswN-qfFfhO3Tk6Xd23Tv_tCfr3avfnNlFZ6-ir1oJcsHtgGg_jZDrDruoPYm9rDhDQ5kMLc8ZJLEXBYPIsMLYUUPoXsUx4mujvJnr_Qd8Z6jZ6igJklQfactQF8w8z7-Y2q_m_Nu0m6fDGSL1M2UlZj-_VaCGY9dQrTSN566mxMJBK8wQp2yGd12Pc0m2vrCjJFHn3lKTlXDmjn35RNKq_QDNxdFS"
    ></a>
    <!-- [  4] switchMap(a => b$.map(b => a + b)), concatMap(a => b$.map(b => a + b)) -->
    <a
      data-src="eNrt01trgzAYBuD_kmsHxtraercGW7uS4YnqHL2ILusENS6mY6X43xdpCxsr3WQHNuhd8n458OUhW8AqkbGyBuYWFIQnOa0dyn36uKZlSoEJdWWfW0UmRFauZqWg_InkwNRUtS0-zwQtEFuXQi6XyYqRHO-OAubtFtQPpJInAaCAlOWMt8NG-ThPM57m9FVVbCp6kf7-3j-361P5slFAJmV2CG3_Mq4PsLJ2J-cqnAwN6PsqsqYY2tDFtjMJ0EKLwcH9LeLxhyVfQEm-r-X_ni_bykmpxSi86WlYAmmWF4Qo0tG0k1TSWeSs1kFNcFLW94wXlL__YvE80q9iaA_7PYjjwbVcwSrKiWB8TjeHO076hwMvDFw88Q2rr8f4EiPf6-Sfnt1-1HmBIjh2bXVs6KoXeSOsTZ0jzsvmBQn9RNk"
    ></a>
    <!-- [  5] concat(a$, b$), bufferTime(2t, 1t) -->
    <a
      data-src="eNrdk11rgzAYhf9Lrh2oVZt550fbVVGkFmcdvUhd1glqXEzHivjfF-lkG9soMipjd8l5DyfwPicNIBXLSFkDvQEForsc1wGmIX464DLFQJcU4U2fFRljWblflgzTZ5QDXRbFbviyZLiwyKFk3M6VPUG5d4oC-l0D6kdU8SQABJCSnNDu2ArveprRNMcfpuxY4Ss0omc3oie9iOen3f5K37YCyDjbE8buVS7XfTX47J7fRWkOp7IjK2qkGbK_kUPoJjDRbA_0zflcgzFxD6vccMQXWfsIWM_QjNzF5CZSoLheqeHKjbXEvB1E848U-D-RYhSV9QOhBaZfv56lboK5rZmGZa-d2De4g1SYIkaoi4_9G-eSomgaQz-Bk5nrmNK16AUL7ZukbfsKYUXtMw"
    ></a>
    <!-- [  6] debounce(_ => b$), zip(a$, b$) -->
    <a
      data-src="eNrdlF1vgjAUhv9Lr1nCN5S7iSBKZhQNYy5cVNY5EqCs1GXG-N8tcSQuc2ZzzH3cte85ec9pn56uASlZSooKWGuQIzrPcDXCdIIfl7hIMLAkVXjRnTxlLC0W_YJh-oQyYMmiWAef-wznNlkWjKdzZUFQdrWzAtbtGlQPqOROAAggIRmh9XIjnK4nKU0yvBdlqxJfJF_y_HCt81Q59UTxRgApp7G7-NqFy1UDk8fu-F6UXNNQFCfs2kpHkk3o9hQpgBH0QcP6NbjD7aHWjnC6_3f3MD9jTosPOK4jR-lrQzkIAmfseeZ1qLviZKZO36H_s6Pxr_R9LoyioronNMf07WBezkQPDuDoZqiPXSNyeQYpMUWMUB-vmhrHCevywNbUbmQG0zA0oO77o0_Nd3tz8xs-8r_DX5N8qOm2qKg9uQNdzbHNQ_zjzRYtC11g"
    ></a>
    <!-- [  7] sampleTime(3t), withLatestFrom(b$, (a, b) => a + b) -->
    <a
      data-src="eNrVk11rgzAUhv9Lrh2ojc56V63aGioFB60bXqQu6wQ1LqZjRfzvi7RCx4pzH3TbXfK-Jycn5zmpAS15SosKmDXIMdtkpFoSFpKnHSkSAkwFSkfdyVPO02I7LzhhzzgDpirLrfky5yS36a7gIlwoW4qzxSEVMO9qUD3iUmQCQAIJzShrl430sZ6kLMnIicv3JblKBp397zm_pceNBFLB5ND-thohVx1S4d2Lvay4xjVEyjq49UYTOFvpMLJ1w7Mt0BF_i-_8M_GAVmz6Yz7dzP4MP6V_pU582cGIW-fIlzNcVA-U5YS9R4xQGNnWdBROxrarO6qIoCVhmFOGyL67o3dSAm2me7LrGxayUKA5mhutLz0pv_2x_po-iH8AfbSw4NJ3V_KNok6mij8-wz9uXgGY2dxg"
    ></a>
    <!-- [  8] distinctUntilKeyChanged('color'), bufferCount(2, 1) -->
    <a
      data-src="eNq9klFPgzAUhf_LfcYEsMuAN8ARB8EQSWRq9tDhdZJAi6UzLgv_3ZINdW7GLdl8a885PbfN1xXwWhacNeCsoKJiVmKToEjxdYEsR3AMom30UVVIWbD5mEkUb7QEx9T1znwfS6x8vmBSxZUy57SM11XgPK6geaG1agLQIOclF92y1b70vBB5id9cuazxgm5lfjt7rL4z6wj3zLNO_eppq0GhyKwhdO1KbnqwyntSe90IrCHJkjBy7dA07odp4g5uvMy_g577NsT_f9QhnfszswMy-dnvdqrv9BPuJ1MpKGueuahQ7GK1H3QSRmaaXV9NgkubqASvUVDJRYTLfsYfTYNbf5RYASGxF3qWa0xin-h7mqbtB5X9VlU"
    ></a>
    <!-- [  9] debounceTime(1t), debounceTime(2t) -->
    <a
      data-src="eNrdkl9rgzAUxb_LfXZgXToz30ZtXZFJbcXuDz6k7q4TNHExHSvid19c68OosD60FPaW3HM4h5tfahClygSvwKmhYHKVYzVDucCPDfIUwRkQYz8fF5lSGV9PuUL5yXJwLNNsxa-pwmIkNlxpu56sBcsfdlHgvNRQvbNSJwEYkIpcyPbYGKefp5lMczx3y2Xbe1qSxoBME9g9ttr--KoOoNZe9d0cTKh9Y8aUDD3iB_PZHbmN4kdrGEHH9zesg6I2-IqdYOX-5NURnvQID_tfXyJplT1TJRmv3oQsUB5iDT17RN2JSa_d-dKKiHaIEiVTQvq47Tr-SrKeApcuwtij42c78O_DyF72JCXNN1sUTOU"
    ></a>
    <!-- [ 10] auditTime(2t), sample(b$) -->
    <a
      data-src="eNrlk11rgzAUhv9Lrh1YZzv1zgY_SlEkk7V1eJFmWSeocTEdK-J_X6QVNroNS73a7pLzvpxzcp6TBrBKZKysgdWAAvNtTuuI8nv6uqclocCa6Mop7hSZEFm5W5SC8jecA0tT1U58XwhaQLYvhbTLyI7hPDimAtZjA-oXXMlMACiAsJzx7tgqfz9OMk5y-kkVh4rebC_2DKqbtgrIJIfjyLssMlz3GKX2JO_qxDXuZnAZBY6OwtV8cztFkWrEOgI95a_Iztob0DwZ4MEjDQpfAYKMBmKsN161eGmnnLgLjsv6mfGC8jP0oesHeoimSajPXTOxoXSwinIsGF_SQ1_j1w1yfBu6iQfXK1tFG8NFnu_8sEH__tNfoI7H2fE0zzRdLZrF8AF5serp4Tec0_YDSWbYdA"
    ></a>
    <!-- [ 11] skipUntil(b$), auditTime(1t) -->
    <a
      data-src="eNrNk1FvgjAUhf9Ln1lSGYjyhrVEXSAqhImLD5V1jgQoK3WZIfz3lTmSmbiwZZP41p5ze9reL7cELBcxywpgliAlfJvQYk65R1_2NIsoMHua8qnjNBYiznbTTFD-ShJgqhDW5ttU0BSxfSZkuVR2jCTOMQqYDyUonkkukwBQQMQSxutlpXSnRzGPEvrFFYec3mwvfrZTfVMpIJYcji2vXynlosEovUe5hz17YBjYtwPDg_jWgshxXRSq_j1oKJ8iO__96Actaqn5i_uRT36N6b9yrgV3C2U_XIXIwPrKWuPlcKTPPQd_Q7nzAby-fl6Ci-AkK54YTyk_RRPAMOxPdK1vq2ttsZwNoRXKCpZTTgTjd_TQ3NGWVI-yPkbuZLCwxqMAzRyonknaVO-JTM7m"
    ></a>
    <!-- [ 12] scan((x, y) => x + y), merge(a$, b$) -->
    <a
      data-src="eNq9VF1PgzAU_S_3GRO2NDJ5m3yUQUacGEDNHgrWSQIUS2dclv13u2w8GPfN8LHnnN57e89Jl8AqkbGyBn0JBeFJTusHygP6OadlSkHvIWWLW0UmRFbORqWg_IvkoPdVdU1-jwQtDDYvhZRLZMZIPt6UAv11CfUHqWQlSDOe5hQUSFnOuATEoqI3BFbKMU16WPOL3Ydf3j05o_tFFXZMcnL99ts71n26UiCTDm_MXKslXDcBkdybPKs9e6AN-o5lqppmB85k4qloGBmGC01-zg9Dm2e2iUEbc_-vb0fvna6ZrcuCk7J-Z7yg_I_RVhxEDsLGOPQfbTyOsFSwinIiGPfoopnjYF6Q_WQMJ9jx70L_PjDRs4nRnrx0sZvrfCFJ53evM-cFOzkpC8iKzTC-HWDXffFD5GkaDndkYbr6AUhBA34"
    ></a>
    <!-- [ 13] exhaustMap(a => b$.map(b => a + b)), throttle(_ => b$) -->
    <a
      data-src="eNrtk19vgjAUxb9Ln1lCkTHkzRQFZ2hADQQXHpB1jgQoK3WZMX73lSjbjH-i22K2ZW_tOaftzf3dLgEteUqLChhLkMdsmpHKJWxEnuakSAgwoCpt9G6ecp4Ws37BCXuOM2AoslybL31OckTnBRdxocxonDnrq4BxtwTVY1yKmwCQQEIzyurlSnrXk5QlGfng8kVJrqZbmUNnv0v_CTV8SY9WEkgFh3XL6-qFXDUYhXcv9jLs6Tc6mmimHmC944YObt0OB77mgobyNrKdtlym-We4v1KPaucoI3MoIwTtVhdaGmp7nqk48FRGe0b385nk7MyfInUKQc7ionqgLCds96M5wbWKFHWk-76rDGBbJGhJWMwpG5BF88bxWfBxC3dsd9wW44B1bPdQeGAWLvMj_wm_oRk7lgcdVzYDE4edrqUGkz2Eo9Uru4s9Ww"
    ></a>
    <!-- [ 14] audit(_ => b$), buffer(b$) -->
    <a
      data-src="eNrllF1PgzAUhv9LrzHhoyBwtyHEQUZgEEHNLjqskwQols64EP67JZMLzdTNbYmZd-173p6enKc9LSA1y0nVALMFJaKLAjcBphF-XuEqw8CUoPCu22XOWF4tJxXD9AUVwJRFsQ--ThguLbKqGLdzZUlQMd2kAuZ9C5onVPNMAAggIwWh_bITjq9nOc0KfPAptq7xBTpJhSfR550Ack5g0-y-ei43A0Aee-B7UXL0SwNqiSGKhgZdGPnhrSPJlgcGvh9h7dKW7Z7FkTzovDD9AusPNPXAm6VpdD26cw1VVSIribQvaO73-Hehkx3wubL_QY1RVDWPhJaYfgI3kyx4pduBPx4ZijMKrAhyB6kxRYxQD6-HO77nn4ai7drGNJHjG-jESZBae_L_Y6P3zDj34zYJZW0c66otu76v-PEWzvPuDeAxSNc"
    ></a>
    <!-- [ 15] pairwise(), sampleTime(2t) -->
    <a
      data-src="eNrdkVFPwjAUhf_LfZ5JhxC2vakBxwikMuNcCA-lXnFJ186uGMmy_24HzsRggmEvxrf23HvObe9XgSpMpmQJQQU502uBJUUd4-sWJUcI3L7zqY_yzJhMbibSoH5jAoIeIU3xfWIwv1FbaWy7VTaKidkhCoJlBeULK2wSgANcCaWbY-2cr_NMc4H_z9VJX9UOZJbDYeVmt-8oW4y29mTvxB17wyvizqPokQ6uwySOSXrr05RAS_k7sqOPNMEX7Lwl7L3rDl7ewfu33_xbxF9kjWayfFY6R30M10vHfbrwvGQ6j4cJ7dkOVaBmRukp7toZp5KoH14u7pNRPCPRAxnQu9D_KWlVfwApYlIC"
    ></a>
    <!-- [ 16] bufferTime(2t), mergeMap(a => b$.map(b => a + b)) -->
    <a
      data-src="eNrVk11PgzAUhv9LrzHhowPKHSp2G8HgXHTDcNFhnSRAsXTGhey_r2QjcXEqy5zRu_Z9z0eb55wasFKkrKiAU4Oc8FlGq5DyW_qyoEVCgaNBZat7eSpEWswHhaD8lWTA0VW1Md8GguYXbFEIGS6VOSNZsCkFnIcaVM-klJUAUEDCMsab40r5Xk9SnmT0nSuWJT0jP5a7P2b2p-sc9t9uuTt6vFJAKnlu0DVVpFy14yC9R3lXtSsb-RBHUWiNLez2Ig-dG8idGqCdlm7oPzz7APfocTphr1_V48bZkhKcFNUT4znlu7DMoT-6vLFCjCe9ENkYRnogI1hJORGM-3TZ9viSudnv27Y1vIb3rgrdwIS6p33C_Jj1PfmY_3e9E_NmQdHEG9sButNcbBv-aLqHebxaAycW2lU"
    ></a>
    <!-- [ 17] throttleTime(2t), bufferCount(2) -->
    <a
      data-src="eNq1kl1LwzAUhv_Lua6QjM51vbMfGyNUKg7ZKrvI6nEW2qSmmThK_7sps-LHYFXqXfKew3vekyc1yFJnUlTg1lBwtc2xilHd4vMeRYrgUtt618Mi0zoTu4XQqF54Du6IkLb4utBY-HIvtGk3yk7yPDpagXtfQ_XES-MEYEEqc6naY2MNr6eZSnP8VNWHEi-2_zJrmGzpcLM2jQWZ4XB88tbdyFWH0dQezJ3QmTNliXMTrCfeHQ0Cj9mXIxYtCXSUvyL7EbvHUnywxfsA7ZOht_-vk_894bDoP4hrxUX1KFWB6hv068SJWbIK46XtzVlE1nRiOmSJimupGB66GWedzPeZ-87VeMXGfuCHznRGTzhtmjcjMltd"
    ></a>
    <!-- [ 18] auditTime(2t), debounceTime(2t) -->
    <a
      data-src="eNrdkl9PgzAUxb_LfcaEAXHCGxrFSSD8SxTMHgpeJwm02HbGhfDdLZkYdSa6RPfgW3vO7em9_bUH1smaUQFODy3hZYMiQp7i4xppheDMLO1VP29rKWu6WlCJ_Ik04Bi6PprPC4ntGVtTqcqVsmKkCbZR4Nz2IB5Ip5IANKhYw_i4HLTf16uaVw2-c-Wmw6PqX2XufXY5aFArPlsUY7WSxYRXeXdqr88uTuzALjLTM92k8OZx7l_qeRxFMNH_iHKnjR80We49yOEenxyw__LPZ_z8Ad64S06ouGe8Rb6L3rCvwzBPb9wssa0wdlUF65ATybiPm-mO75IyLzk2T_3MMoIkm18VRZzaXyQthxdk2WgW"
    ></a>
    <!-- [ 19] buffer(b$), debounce(_ => b$) -->
    <a
      data-src="eNrNlN9vgjAQx_-XPrOkChrLW4fiLIHoNP5g8aGyzpEAZaUuM8b_fUXHwxanOObmW_u93rV3n7tuAE9lyJMMmBsQU7GIWNZnYsheViwJGDBrhvahd-JQyjBZ9hLJxCuNgFmHMDe-9SSLLb5KpDqulCWnkbsPBcyHDcieaaoiAaCBgEdc5MutdloPQhFErLKXXKfsZlHK97yYwQWzqKTPtxoIFZN9-fO3KjkrkCrbo9rDmt1CHmrYht-aeS5GpIkm1mxgT0FB_DO-44mcaT0ApUyRq4C4IkA_AHqCo-Viq94dthsjgnW7CX2M9bIcdzWkFQaBXmC4FtdHoQo1KWiSPXERM_EFXL9763SJZxA4GmPPde7IQJ3gKRNUcuGwdXHHcf6Taf3edXwEybgGHdj2SPsb_pdg-6sf5L_6_vEclOqR_JNG2GkaesdHrq46xCMHemS-fQeWwGYv"
    ></a>
    <!-- [ 20] bufferCount(2), audit(_ => b$) -->
    <a
      data-src="eNrVkl9PgzAUxb9LnzHhz1YYb4gMhsEwWTKL2UOHdZJAi6UzLoTvbsnEaJyL2Vzi3tpzbs9t7u82gFUiZ7QGdgNKzJcFqWPCE_K8JjQjwNYGyrvulbkQOV1NqCD8BRfA1lW1M18ngpQuW1Mhy6WyYriItlHAvm9A_YQrmQSAAjJWMN4dW-VwPct5VpBPrthU5AL_beYJfpgdlfkrfdEqIJc0toPvukq57mFK70HeVW1sjWI3ddPAc27HKYS6acDxFYpAz_oruP3DOQbH7rfL0-X_D0wHYP2gKTim9SPjJeHfgQ61kTV1TISSMLgbJnNZwSrCsWD8mmz6Hnv3wncgupxp7kwNAyNyEy80zB_24uznepacfTiPB6GeGlMDIdW88RML7uC8aN8AZBXKRw"
    ></a>
    <!-- [ 21] throttleTime(2t), distinctUntilKeyChanged('shape') -->
    <a data-src=""></a>
    <!-- [ 22] distinct(x => x.color), debounceTime(1t) -->
    <a data-src=""></a>
    <!-- [ 23] concat(a$, b$), throttle(_ => b$) -->
    <a data-src=""></a>
    <!-- [ 24] takeUntil(b$), withLatestFrom(b$, (a, b) => a + b) -->
    <a data-src=""></a>
    <!-- [ 25] combineLatest(a$, b$), scan((x, y) => x + y) -->
    <a data-src=""></a>
    <!-- [ 26] merge(a$, b$), auditTime(1t) -->
    <a data-src=""></a>
    <!-- [ 27] concatMap(a => b$.map(b => a + b)), bufferTime(2t) -->
    <a data-src=""></a>
    <!-- [ 28] sampleTime(2t), distinctUntilKeyChanged('color') -->
    <a data-src=""></a>
    <!-- [ 29] exhaustMap(a => b$.map(b => a + b)), distinct(x => x.shape) -->
    <a data-src=""></a>
    <!-- [ 30] switchMap(a => b$.map(b => a + b)), throttleTime(1t) -->
    <a data-src=""></a>
    <!-- [ 31] distinctUntilKeyChanged('shape'), bufferCount(2, 1) -->
    <a data-src=""></a>
    <!-- [ 32] sampleTime(3t), pairwise() -->
    <a data-src=""></a>
    <!-- [ 33] sample(b$), throttleTime(2t) -->
    <a data-src=""></a>
    <!-- [ 34] zip(a$, b$), skipUntil(b$) -->
    <a data-src=""></a>
    <!-- [ 35] combineLatest(a$, b$), distinct(x => x.shape) -->
    <a data-src=""></a>
    <!-- [ 36] skipUntil(b$), debounceTime(1t) -->
    <a data-src=""></a>
    <!-- [ 37] pairwise(), bufferCount(2, 1) -->
    <a data-src=""></a>
    <!-- [ 38] distinctUntilKeyChanged('color'), merge(a$, b$) -->
    <a data-src=""></a>
    <!-- [ 39] scan((x, y) => x + y), concat(a$, b$) -->
    <a data-src=""></a>
    <!-- [ 40] bufferCount(2), bufferTime(2t, 1t) -->
    <a data-src=""></a>
    <!-- [ 41] zip(a$, b$), auditTime(2t) -->
    <a data-src=""></a>
    <!-- [ 42] throttleTime(1t), distinct(x => x.color) -->
    <a data-src=""></a>
    <!-- [ 43] exhaustMap(a => b$.map(b => a + b)), debounce(_ => b$) -->
    <a data-src=""></a>
    <!-- [ 44] concatMap(a => b$.map(b => a + b)), withLatestFrom(b$, (a, b) => a + b) -->
    <a data-src=""></a>
    <!-- [ 45] throttleTime(2t), throttle(_ => b$) -->
    <a data-src=""></a>
    <!-- [ 46] sampleTime(3t), buffer(b$) -->
    <a data-src=""></a>
    <!-- [ 47] debounceTime(2t), mergeMap(a => b$.map(b => a + b)) -->
    <a data-src=""></a>
    <!-- [ 48] auditTime(1t), audit(_ => b$) -->
    <a data-src=""></a>
    <!-- [ 49] distinctUntilKeyChanged('shape'), switchMap(a => b$.map(b => a + b)) -->
    <a data-src=""></a>
    <!-- [ 50] bufferTime(2t), sampleTime(2t) -->
    <a data-src=""></a>
    <!-- [ 51] takeUntil(b$), sample(b$) -->
    <a data-src=""></a>
    <!-- [ 52] switchMap(a => b$.map(b => a + b)), takeUntil(b$) -->
    <a data-src=""></a>
    <!-- [ 53] bufferCount(2), distinct(x => x.shape) -->
    <a data-src=""></a>
    <!-- [ 54] distinctUntilKeyChanged('color'), throttleTime(1t) -->
    <a data-src=""></a>
    <!-- [ 55] combineLatest(a$, b$), zip(a$, b$) -->
    <a data-src=""></a>
    <!-- [ 56] bufferTime(2t, 1t), debounceTime(2t) -->
    <a data-src=""></a>
    <!-- [ 57] skipUntil(b$), buffer(b$) -->
    <a data-src=""></a>
    <!-- [ 58] debounce(_ => b$), mergeMap(a => b$.map(b => a + b)) -->
    <a data-src=""></a>
    <!-- [ 59] sampleTime(3t), withLatestFrom(b$, (a, b) => a + b) -->
    <a data-src=""></a>
    <!-- [ 60] distinctUntilKeyChanged('shape'), sampleTime(2t) -->
    <a data-src=""></a>
    <!-- [ 61] sample(b$), distinct(x => x.color) -->
    <a data-src=""></a>
    <!-- [ 62] concatMap(a => b$.map(b => a + b)), audit(_ => b$) -->
    <a data-src=""></a>
    <!-- [ 63] exhaustMap(a => b$.map(b => a + b)), throttle(_ => b$) -->
    <a data-src=""></a>
    <!-- [ 64] pairwise(), debounceTime(1t) -->
    <a data-src=""></a>
    <!-- [ 65] bufferCount(2, 1), auditTime(1t) -->
    <a data-src=""></a>
    <!-- [ 66] bufferTime(2t), throttleTime(2t) -->
    <a data-src=""></a>
    <!-- [ 67] merge(a$, b$), scan((x, y) => x + y) -->
    <a data-src=""></a>
    <!-- [ 68] auditTime(2t), concat(a$, b$) -->
    <a data-src=""></a>
    <!-- [ 69] bufferTime(2t, 1t), distinctUntilKeyChanged('shape') -->
    <a data-src=""></a>
    <!-- [ 70] merge(a$, b$), audit(_ => b$) -->
    <a data-src=""></a>
    <!-- [ 71] pairwise(), bufferTime(2t) -->
    <a data-src=""></a>
    <!-- [ 72] buffer(b$), bufferCount(2) -->
    <a data-src=""></a>
    <!-- [ 73] debounceTime(2t), withLatestFrom(b$, (a, b) => a + b) -->
    <a data-src=""></a>
    <!-- [ 74] throttle(_ => b$), distinct(x => x.color) -->
    <a data-src=""></a>
    <!-- [ 75] exhaustMap(a => b$.map(b => a + b)), concatMap(a => b$.map(b => a + b)) -->
    <a data-src=""></a>
    <!-- [ 76] mergeMap(a => b$.map(b => a + b)), concat(a$, b$) -->
    <a data-src=""></a>
    <!-- [ 77] debounce(_ => b$), sampleTime(2t) -->
    <a data-src=""></a>
    <!-- [ 78] distinct(x => x.shape), throttleTime(2t) -->
    <a data-src=""></a>
    <!-- [ 79] skipUntil(b$), auditTime(1t) -->
    <a data-src=""></a>
    <!-- [ 80] distinctUntilKeyChanged('color'), scan((x, y) => x + y) -->
    <a data-src=""></a>
    <!-- [ 81] auditTime(2t), takeUntil(b$) -->
    <a data-src=""></a>
    <!-- [ 82] combineLatest(a$, b$), switchMap(a => b$.map(b => a + b)) -->
    <a data-src=""></a>
    <!-- [ 83] sampleTime(3t), zip(a$, b$) -->
    <a data-src=""></a>
    <!-- [ 84] sample(b$), throttleTime(1t) -->
    <a data-src=""></a>
    <!-- [ 85] bufferCount(2, 1), debounceTime(1t) -->
    <a data-src=""></a>
    <!-- [ 86] distinctUntilKeyChanged('color'), debounceTime(1t) -->
    <a data-src=""></a>
    <!-- [ 87] skipUntil(b$), merge(a$, b$) -->
    <a data-src=""></a>
    <!-- [ 88] debounce(_ => b$), distinct(x => x.color) -->
    <a data-src=""></a>
    <!-- [ 89] takeUntil(b$), throttleTime(1t) -->
    <a data-src=""></a>
    <!-- [ 90] zip(a$, b$), buffer(b$) -->
    <a data-src=""></a>
    <!-- [ 91] sampleTime(3t), bufferCount(2) -->
    <a data-src=""></a>
    <!-- [ 92] sampleTime(2t), switchMap(a => b$.map(b => a + b)) -->
    <a data-src=""></a>
    <!-- [ 93] scan((x, y) => x + y), audit(_ => b$) -->
    <a data-src=""></a>
    <!-- [ 94] debounceTime(2t), mergeMap(a => b$.map(b => a + b)) -->
    <a data-src=""></a>
    <!-- [ 95] throttle(_ => b$), bufferCount(2, 1) -->
    <a data-src=""></a>
    <!-- [ 96] exhaustMap(a => b$.map(b => a + b)), auditTime(2t) -->
    <a data-src=""></a>
    <!-- [ 97] distinctUntilKeyChanged('shape'), distinct(x => x.shape) -->
    <a data-src=""></a>
    <!-- [ 98] concatMap(a => b$.map(b => a + b)), concat(a$, b$) -->
    <a data-src=""></a>
    <!-- [ 99] throttleTime(2t), pairwise() -->
    <a data-src=""></a>
    <!-- [100] withLatestFrom(b$, (a, b) => a + b), bufferTime(2t) -->
    <a data-src=""></a>
    <!-- Padding -->
    <span *ngFor="let n of range(10)"></span>
  </div>
  <div class="padding"></div>
  <footer></footer>
</div>
